<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Data</title>
    <link rel="stylesheet" href="./static/css/site.css">

</head>
<body>
    <p><a href="{{ url_for('search') }}">Search</a></p>
    <p><a href="{{ url_for('newData') }}">Insert new data</a></p>
    <p><a href="{{ url_for('newGoal') }}">Setting new goals</a></p>

    <div class="container">
        <h1>Body Data Over Days</h1>

        {% if body_data %}
            <table>
                <tr>
                    <th>Day</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Weight(kg)</th>
                    <th>bmr(kcal)</th>
                    <th>calorie(kcal)</th>
                </tr>
                {% for day in body_data %}
                <tr>
                    <td>{{ day.day }}</td>
                    <td>{{ day.month }}</td>
                    <td>{{ day.year }}</td>
                    <td>{{ day.weight }}</td>
                    <td>{{ day.bmr }}</td>
                    <td>{{ day.calorie }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
</body>
</html>
